<div class="card mb-3" style="max-height: 500px; min-height: 500px">
  <img
    src="{{ product?.thumbnail }}"
    class="card-img-top"
    style="max-height: 300px; min-height: 300px"
    alt="{{ product?.title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product?.title }}</h5>
    <p class="card-text">{{ product?.description }}</p>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-success">Edit</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>
    </div>
  </div>
</div>
