<div class="card mb-3" style="max-height: 550px; min-height: 550px">
  <img
    src="{{ product?.thumbnail }}"
    class="card-img-top"
    style="max-height: 300px; min-height: 300px; cursor: pointer"
    alt="{{ product?.title }}"
    (click)="onThumbnailClick()"
  />
  <div class="card-body">
    <h1 class="card-title">{{ product?.title }}</h1>
    <p class="card-text">{{ product?.description }}</p>
    <h3 class="card-text">
      <span
        class="me-2"
        [ngStyle]="{
          textDecoration:
            product && product.discountPercentage > 0 ? 'line-through' : ''
        }"
        >${{ product?.price }}</span
      >
      <span *ngIf="product && product.discountPercentage > 0"
        >${{
          (product.price * (100 - product.discountPercentage)) / 100
            | number : "1.0-2"
        }}</span
      >
    </h3>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-success" (click)="onEdit()">
        Edit
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="onDelete()">
        Delete
      </button>
    </div>
  </div>
</div>
