<div class="card mb-3">
  <img
    src="https://i.dummyjson.com/data/products/1/thumbnail.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">iPhone 9</h5>
    <p class="card-text">An apple mobile which is nothing like apple</p>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-success">Edit</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>
    </div>
  </div>
</div>
