<div class="container">
  <div class="row py-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        <label for="email">Email</label>
        <div
          class="my-3"
          *ngIf="
            loginForm.get('email')?.touched && loginForm.get('email')?.invalid
          "
        >
          <span
            *ngIf="loginForm.get('email')?.errors?.['required']"
            class="text-danger"
          >
            Email is required!
          </span>
          <span
            *ngIf="loginForm.get('email')?.errors?.['email']"
            class="text-danger"
          >
            Please enter a valid email!
          </span>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
        <div
          class="my-3"
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
        >
          <span
            *ngIf="loginForm.get('password')?.errors?.['required']"
            class="text-danger"
          >
            Password is required!
          </span>
          <span
            *ngIf="loginForm.get('password')?.errors?.['minLength']"
            class="text-danger"
          >
            Please enter a valid password!
          </span>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
