<div class="container">
  <div class="row py-5">
    <form>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Title"
        />
        <label for="title">Title</label>
      </div>

      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          id="description"
          rows="6"
          placeholder="Description"
        ></textarea>
        <label for="description">Description</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="Price"
        />
        <label for="price">Price</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="discountPercentage"
          placeholder="Discount Percentage"
        />
        <label for="discountPercentage">Discount Percentage (%)</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="stock"
          placeholder="Stock"
        />
        <label for="stock">Stock</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="brand"
          placeholder="Brand"
        />
        <label for="brand">Brand</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="category"
          placeholder="Category"
        />
        <label for="category">Category</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="thumbnail"
          placeholder="Thumbnail"
        />
        <label for="thumbnail">Thumbnail</label>
      </div>

      <div class="row">
        <div class="col-12 d-flex align-items-center mb-3">
          <div class="form-floating w-75">
            <input type="text" class="form-control" placeholder="Image" />
            <label>Image</label>
          </div>
          <div class="mx-3">
            <button type="button" class="btn btn-outline-danger">X</button>
          </div>
          <div class="mx-3">
            <button type="button" class="btn btn-outline-success">
              Add Image
            </button>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-primary">
        Update Product!
      </button>
    </form>
  </div>
</div>
